pkgbase = dmenu-extras
	pkgdesc = Helper dmenu scripts for basic tasks
	pkgver = 1.0.r4.373f250
	pkgrel = 1
	url = https://github.com/royarg02/dmenu-extras
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = sh
	depends = dmenu
	depends = curl
	depends = gtk3
	depends = xclip
	depends = imagemagick
	optdepends = libnotify: notifications for scripts
	optdepends = xorg-xprop: window selection for dm-scshot
	optdepends = slop: region selection for dm-scshot
	conflicts = dmenu-extras-git
	options = !debug
	source = git+https://github.com/royarg02/dmenu-extras.git
	md5sums = SKIP

pkgname = dmenu-extras
