pkgbase = dwm-royarg-git
	pkgdesc = A modified version of the dynamic window manager for X.
	pkgver = 6.8.r5.44dbc68
	pkgrel = 1
	url = https://dwm.suckless.org
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	depends = libx11
	depends = libxft
	depends = libxinerama
	depends = freetype2
	optdepends = st: A simple virtual terminal emulator for X.
	provides = dwm
	conflicts = dwm
	conflicts = dwm-git
	source = git+https://git.suckless.org/dwm
	source = 0001-dwm-systray-20260322-44dbc68.diff
	source = 0002-dwm-systray-statuscmd-20260322-44dbc68.diff
	source = 0003-dwm-focusonclick-20200110-61bb8b2.diff
	source = 0004-dwm-focusonclick-viewontag-20260322-44dbc68.diff
	source = 0005-dwm-focusonclick-viewontag-barheightspacing-20260322-44dbc68.diff
	source = 0006-dwm-cfacts-20200913-61bb8b2.diff
	source = 0007-dwm-resizecorners-6.5.diff
	source = 0008-dwm-tagmonfollow-20260322-44dbc68.diff
	source = 0009-dwm-customxresources-20260322-44dbc68.diff
	source = 0010-dwm-customsettings.diff
	md5sums = SKIP
	md5sums = 18ede8284c6d9676fedf71743fef5e8c
	md5sums = f94d157cffc3fba4d78d6ebf49ec647f
	md5sums = 9f3d9a3c9de73f82a30290ed29a3020b
	md5sums = 0a68611f32c2bbb608e0e20ce3f35d64
	md5sums = 65fd11f8238b93382e6670512914036b
	md5sums = c61a6eecb95bf2e0535334886c6d2ff5
	md5sums = faab7b9abb73fba6f306bd5d61de5016
	md5sums = a33b895ad553837847724dc841633b64
	md5sums = 058235e4996ba5a210a34711d6b1befb
	md5sums = 603c0d4a61d13bc919927573191a5097

pkgname = dwm-royarg-git
