pkgbase = dmenu-royarg-git
	pkgdesc = A modified version of the dynamic menu for X, originally designed for dwm.
	pkgver = 5.4.r6.61e0072
	pkgrel = 1
	url = https://tools.suckless.org/dmenu
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	depends = sh
	depends = glibc
	depends = libx11
	depends = libxinerama
	depends = libxft
	depends = freetype2
	depends = fontconfig
	optdepends = dmenu-extras: helper scripts for basic tasks
	optdepends = xorg-xrdb: for loading X resources
	provides = dmenu
	conflicts = dmenu
	conflicts = dmenu-git
	source = git+https://git.suckless.org/dmenu
	source = 0001-dmenu-linesbelowprompt-and-fullwidth-20260921-61e0072.diff
	source = 0002-dmenu-numbers-20250318-b1e217b.diff
	source = 0003-dmenu-mousesupport-5.4.diff
	source = 0004-dmenu-mousesupport-motion-5.4.diff
	source = 0005-dmenu-mousesupport-motion-border-20260921-61e0072.diff
	source = 0006-dmenu-mousesupport-motion-border-initialtext-20260921-61e0072.diff
	source = 0007-dmenu-mousesupport-motion-border-initialtext-xyw-20260921-61e0072.diff
	source = 0008-dmenu-mousesupport-motion-border-initialtext-xyw-lineheight-20260921-61e0072.diff
	source = 0009-dmenu-mousesupport-motion-border-initialtext-xyw-lineheight-fuzzymatch-20260921-61e0072.diff
	source = 0010-dmenu-customxresources-20260921-61e0072.diff
	md5sums = SKIP
	md5sums = 46ab5d61b805f508ece34c7b5bd4f6aa
	md5sums = d3ffefd0d3bb71267aca5dffee3bbeb5
	md5sums = bfe7e883cd33dd71f492717ae1f5badb
	md5sums = 7fe9969ec667fcfd3979bdc3e9539f0f
	md5sums = 7be042443dc6f29ece3414730d4caa2e
	md5sums = e2606dcf5e02f6e82d44c9e298378948
	md5sums = a177ce1af946c938be69f4e03f0c107d
	md5sums = dd72fc6e101a061dc1a48fcf600a4c06
	md5sums = b781cf48dd19a9cc8477527cbd501e48
	md5sums = 56469df5192f0f65c92225f78947a569

pkgname = dmenu-royarg-git
