pkgbase = dmenu-royarg-git
	pkgdesc = A modified version of the dynamic menu for X, originally designed for dwm.
	pkgver = 5.2.r16.4f6f2a3
	pkgrel = 1
	url = https://github.com/royarg02/dmenu
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	depends = sh
	depends = libxinerama
	depends = libxft
	optdepends = curl: to fetch and check updates for emoji through dmenu_emoji
	optdepends = gtk3: for launching applications through dmenu_dex_run
	optdepends = libnotify: to notify update check and fetch for dmenu_emoji
	optdepends = systemd: to control login sessions through dmenu_power_opt
	optdepends = xclip: to copy selected emoji to clipboard from dmenu_emoji
	optdepends = xorg-xrdb: for loading X resources
	provides = dmenu
	conflicts = dmenu
	conflicts = dmenu-git
	source = git+https://github.com/royarg02/dmenu.git
	md5sums = SKIP

pkgname = dmenu-royarg-git
