pkgbase = twemoji-mozilla
	pkgdesc = Twitter color emoji font from Mozilla Firefox
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/mozilla/twemoji-colr
	arch = any
	license = Apache-2.0
	license = CC-BY-4.0
	depends = firefox
	provides = emoji-font
	provides = twemoji-color-font
	conflicts = twemoji-mozilla-fontconfig
	source = https://raw.githubusercontent.com/mozilla/twemoji-colr/refs/tags/v0.7.0/LICENSE.md
	sha256sums = 64419edc28e9163204c3be73f835a8dfc34cd6c9b8f7d067bb685f119f839a99

pkgname = twemoji-mozilla
