pkgbase = lf-royarg-bin
	pkgdesc = A terminal file manager inspired by ranger(deprecated dummy package)
	pkgver = 30
	pkgrel = 2
	url = https://github.com/gokcehan/lf
	install = lf-royarg-bin.install
	arch = i686
	arch = x86_64
	arch = armv7h
	license = MIT
	provides = lf
	conflicts = lf
	conflicts = lf-bin

pkgname = lf-royarg-bin
