pkgbase = lf-royarg-bin
	pkgdesc = A terminal file manager inspired by ranger(precompiled binary)
	pkgver = 30
	pkgrel = 1
	url = https://github.com/gokcehan/lf
	arch = i686
	arch = x86_64
	arch = armv7h
	license = MIT
	provides = lf
	conflicts = lf
	conflicts = lf-bin
	source = https://github.com/gokcehan/lf/raw/r30/lf.1
	source = https://github.com/gokcehan/lf/raw/r30/lf.desktop
	source = https://github.com/gokcehan/lf/raw/r30/LICENSE
	sha256sums = 21c5346920ccf9aebbdb16d3316de38112bc6eb264b8099a3d08747f2097aeb9
	sha256sums = 8435d4ac067dc81aedacc2cbc67d72449e39027ff3ec55d2b3910f3712dd1f74
	sha256sums = 077f3c8aa73a4886221438f9df5c1551baab43c6a0f2e7cddf56f436e8b63480
	source_i686 = lf-30-linux-386.tar.gz::https://github.com/gokcehan/lf/releases/download/r30/lf-linux-386.tar.gz
	sha256sums_i686 = d0c493576f469a50b682942eab5efeaa0d1007e253fc5057f1f0717e5683b44b
	source_x86_64 = lf-30-linux-amd64.tar.gz::https://github.com/gokcehan/lf/releases/download/r30/lf-linux-amd64.tar.gz
	sha256sums_x86_64 = 8185b7838f84c3f8a9355b76229d24daf155f9001cfd3e3666ead546560d87d7
	source_armv7h = lf-30.linux-arm.tar.gz::https://github.com/gokcehan/lf/releases/download/r30/lf-linux-arm.tar.gz
	sha256sums_armv7h = 5eeb67a57a647b7b9eefadee229474c589fbd598468c3890bce65966e6ecd788

pkgname = lf-royarg-bin
