pkgbase = lf-royarg-bin
	pkgdesc = A terminal file manager inspired by ranger(deprecated dummy package)
	pkgver = 30
	pkgrel = 2
	url = https://github.com/gokcehan/lf
	install = lf-royarg-bin.install
	arch = i686
	arch = x86_64
	arch = armv7h
	license = MIT
	provides = lf
	conflicts = lf
	conflicts = lf-bin
	source = https://github.com/gokcehan/lf/raw/r30/LICENSE
	sha256sums = 077f3c8aa73a4886221438f9df5c1551baab43c6a0f2e7cddf56f436e8b63480

pkgname = lf-royarg-bin
