pkgbase = dwmblocks-royarg-git
	pkgdesc = A modified version of the modular status bar for dwm written in C.
	pkgver = 1.0.r101.4c8dbdb
	pkgrel = 1
	url = https://github.com/RoyARG02/dwmblocks
	install = dwmblocks-royarg-git.install
	arch = x86_64
	license = ISC
	makedepends = git
	depends = libx11
	depends = wireplumber
	depends = xorg-xbacklight
	depends = xorg-xset
	optdepends = figlet: expanded time display
	optdepends = noto-fonts-emoji: for emoji support
	optdepends = playerctl: media player control using MPRIS
	provides = dwmblocks
	conflicts = dwmblocks
	source = git+https://github.com/RoyARG02/dwmblocks.git
	md5sums = SKIP

pkgname = dwmblocks-royarg-git
